body {
  padding: 2rem 1.5rem;
  margin: 0 auto;
  color: #241623;
  background: linear-gradient(#000428,#004E92);
}

.searchBarDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
}

.searchBar {
  width: 50%;
  height: 20px;
  border: 2px solid lightblue;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container:hover>:not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

/* image div*/
.imgDiv {
  margin: 8px;
  height: 250px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .35s;
}

.imgBlock {
  height: 100%;
  width: 100%;
  object-fit: cover;
  float: left;
}

.buttom-left {
  max-width: 220px;
  color: white;
  position: absolute;
  margin-top: 215px;
  margin-left: 0.4rem;
}



/* media query */
@media screen and (max-width: 480px) {
  .imgDiv {
    width: 100%;
  }
  .searchBar{
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .imgDiv {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .imgDiv {
    width: 40%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px){
  .imgDiv {
    width: 250px;
  }
}
@media (min-width: 1281px) {
  .imgDiv {
    width: 250px;
  }
}